<!DOCTYPE html>
<html>
<head>
  <title>Groovy</title>
  
  <%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js">
  
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" %>
  
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyC4WCykK27pFFElrwy72AvUDWS812e0DKk&sensor=true" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div data-role="page">
    <%= yield %>
  </div>
</body>
</html>
