<div id='title'></div>

<div id='new_user_form_cntr'>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= f.email_field :email, placeholder:'Email' %>
    <%= f.password_field :password, placeholder: 'Password' %>
    <%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %>
    <div><%= f.submit "Sign up", class: "btn btn-large btn-primary"%></div>
  <% end %>
</div>

<a href='/sign_in' data-role="button" class='btn'>Already registered?</a>

